$color-theme-0: #c9dcda;
$color-theme-10: #4d9c87;
$color-theme-50: #35836e;
$color-theme-70: #0f4d45;

$color-neutral-0: #ffffff;
$color-neutral-10: #f8f8f8;
$color-neutral-30: #c4c4c4;
$color-neutral-50: darken($color-neutral-30, 20%);
$color-neutral-90: #141414;

$color-red-10: #e85252;
$color-blue-10: #57a7ee;
$color-blue-50: #2d25b4;

$size-x1: 4px;
$size-x2: 8px;
$size-x3: 12px;
$size-x4: 16px;
$size-x5: 20px;
$size-x6: 24px;
$size-x7: 28px;
$size-x8: 32px;
$size-x9: 36px;
$size-x10: 40px;
$size-x11: 44px;
$size-x12: 48px;

$screen-x4: 1200px;
$screen-x3: 1024px;
$screen-x2: 768px;
$screen-x1: 512px;

@mixin font-standard() {
  font-family: NunitoSans-Regular, helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

@mixin font-light() {
  font-family: NunitoSans-Light, helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

@mixin font-medium() {
  font-family: NunitoSans-SemiBold, helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

@mixin font-bold() {
  font-family: NunitoSans-Bold, helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}
