.code-header {
  text-align: center;

  &__title {
    font-size: 28px;
    margin-bottom: $size-x5;
    > span {
      font-size: 28px;
      display: block;
      clear: both;
    }
  }

  &__subtitle {
    margin-bottom: $size-x6;
    > span {
      display: block;
      clear: both;
    }
  }

  &__address {
    color: $color-theme-50;
    > span {
      display: inline;
    }
  }

  &__back {
    cursor: pointer;
    text-decoration: none;
  }
}
