.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  text-align: center;
  max-width: $screen-x2;
  background-color: $color-neutral-0;
  padding: $size-x1 * 30;

  @media (max-width: $screen-x2) {
    padding: $size-x1 * 15;
  }

  @media (max-width: $screen-x1) {
    padding: $size-x7;
  }
}

.contact-btn {
  .button__button {
    width: 100%;
  }
}
