.device-icon {
  > img {
    width: 55px;
  }
  margin-bottom: $size-x4;
}

.device-loader {
  margin-top: $size-x4;
}

.device-errors {
  margin-top: $size-x5;
}

.device-success {
  width: 100%;
  max-width: $screen-x2;
  background-color: $color-neutral-0;
  padding: $size-x10;
  font-size: $size-x6;
  text-align: center;
  > img {
    clear: both;
    display: block;
    margin: $size-x2 auto $size-x7 auto;
    width: 50px;
    height: 50px;
  }
}
