.input__error-message {
  color: $color-red-10;
  font-size: $size-x3;
  margin-top: $size-x2;
  display: flex;
  align-items: center;
  > img {
    height: 18px;
    width: 18px;
    margin-right: $size-x2;
  }
}

.input__input {
  width: 100%;
  padding: $size-x4 $size-x7;
  border: 1px solid $color-neutral-30;
  color: $color-neutral-30;
  border-radius: $size-x1;
  margin-top: $size-x5;

  &::placeholder {
    color: $color-neutral-30;
  }

  &:focus {
    color: $color-neutral-0;
    border: 1px solid $color-neutral-0;
    outline: none;
  }
}

.button__button {
  color: $color-neutral-0;
  margin-top: $size-x5;
  background-color: $color-theme-50;
  padding: $size-x4 $size-x7;
  border-radius: $size-x1;
  cursor: pointer;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: $color-theme-10;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button--inactive {
  .button__button {
    background-color: $color-neutral-10;
    color: $color-theme-50;
    &:hover {
      background-color: $color-neutral-0;
    }
  }
}

.button--wide {
  .button__button {
    width: 100%;
  }
}
