.header {
  text-align: center;

  &__title {
    font-size: 28px;
    margin-bottom: $size-x5;
    span.title {
      font-size: 28px;
      display: block;
      clear: both;
    }
  }

  &__subtitle {
    margin-bottom: $size-x6;
    span.subtitle {
      display: block;
      clear: both;
    }
  }
}
