.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-verify {
  width: 100%;
  max-width: $screen-x2;
  background-color: $color-neutral-0;
  padding: $size-x1 * 30;

  @media (max-width: $screen-x2) {
    padding: $size-x1 * 15;
  }

  @media (max-width: $screen-x1) {
    padding: $size-x7;
  }
}

.signup-success {
  width: 100%;
  max-width: $screen-x2;
  background-color: $color-neutral-0;
  padding: $size-x10;
  font-size: $size-x6;
  text-align: center;
  > img {
    margin: 0 auto $size-x7 auto;
    width: 50px;
    height: 50px;
  }
}

.login-splash {
  width: 45%;
  height: 100%;
  background-color: $color-theme-50;
  @media (max-width: $screen-x2) {
    display: none;
  }
}

.login-form {
  width: 55%;
  padding: $size-x1 * 30;

  @media (max-width: $screen-x4) {
    padding: $size-x1 * 20;
  }

  @media (max-width: $screen-x3) {
    padding: $size-x1 * 10;
  }

  @media (max-width: $screen-x2) {
    width: 100%;
  }

  @media (max-width: $screen-x1) {
    padding: $size-x7;
  }
}

.login-btn {
  width: 100%;

  .button__button {
    width: 100%;
  }
}

.login-header__title {
  font-size: 28px;
  margin-bottom: $size-x5;
  > span {
    font-size: 28px;
    display: block;
    clear: both;
  }
}

.login-header__subtitle {
  margin-bottom: $size-x2;
  > span {
    display: block;
    clear: both;
  }
}
