.login-splash {
  width: 45%;
  height: 100%;
  background-color: $color-theme-50;
  @media (max-width: $screen-x2) {
    display: none;
  }
}

.login-form {
  width: 55%;
  padding: $size-x1 * 30;

  @media (max-width: $screen-x4) {
    padding: $size-x1 * 20;
  }

  @media (max-width: $screen-x3) {
    padding: $size-x1 * 10;
  }

  @media (max-width: $screen-x2) {
    width: 100%;
  }

  @media (max-width: $screen-x1) {
    padding: $size-x7;
  }
}

.login-header {
  &__title {
    font-size: 28px;
    margin-bottom: $size-x5;
    > span {
      font-size: 28px;
      display: block;
      clear: both;
    }
  }

  &__subtitle {
    margin-bottom: $size-x2;
    > span {
      display: block;
      clear: both;
    }
  }
}

.login-signup {
  margin-top: $size-x10;
  margin-bottom: $size-x5;
  color: $color-neutral-50;
}

.login-disclaimer {
  text-align: left;
  margin-top: 0;
}

.login-errors {
  margin-top: $size-x9;
}

.login-device {
  text-align: center;
  > span {
    display: block;
    margin-top: $size-x9;
    color: $color-neutral-90;
  }
}

.login-options {
  margin-top: $size-x8;

  &__toggle {
    margin-bottom: $size-x4;
    cursor: pointer;
    text-align: center;
  }

  &__toggle-link {
    color: $color-theme-50;
  }

  &__option {
    padding: $size-x3;
    margin-bottom: $size-x2;
    border-radius: $size-x1;
    background-color: $color-neutral-10;
    cursor: pointer;
  }
}

.loader--login {
  margin-top: $size-x7;
}
