.login {
  background-color: $color-theme-70;
  @media (max-width: $screen-x2) {
    background: url('../../assets/images/bg-party.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.login-splash {
  width: 45%;
  height: 100%;
  background-color: $color-theme-0;
  padding: $size-x3 * 8;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    width: 100%;
    max-width: 100%;
  }
  @media (max-width: $screen-x4) {
    padding: $size-x12;
  }
  @media (max-width: $screen-x2) {
    display: none;
  }
}

.login-form {
  width: 55%;
  padding: $size-x1 * 30;

  @media (max-width: $screen-x4) {
    padding: $size-x1 * 20;
  }

  @media (max-width: $screen-x3) {
    padding: $size-x1 * 10;
  }

  @media (max-width: $screen-x2) {
    width: 100%;
    margin: $size-x3;
    border-radius: $size-x3;
    padding: $size-x1 * 15;
    max-width: $screen-x2;
    background-color: $color-theme-70;
  }

  @media (max-width: $screen-x1) {
    padding: $size-x7;
  }
}

.header--login {
  text-align: left;
  color: $color-neutral-0;
  &__subtitle {
    margin-bottom: $size-x2;
  }
  @media (max-width: $screen-x2) {
    text-align: center;
  }
}

.login-signup {
  margin-top: $size-x10;
  margin-bottom: $size-x5;
  color: $color-neutral-50;
  @media (max-width: $screen-x2) {
    text-align: center;
  }
}

.login-disclaimer {
  text-align: left;
  margin-top: 0;
  @media (max-width: $screen-x2) {
    text-align: center;
  }
}

.login-errors {
  margin-top: $size-x9;
}

.login-device {
  text-align: center;
  > span {
    display: block;
    margin-top: $size-x9;
    color: $color-neutral-90;
  }

  &__icon {
    margin-bottom: $size-x4;
    > img {
      width: 50px;
    }
  }
}

.login-options {
  margin-top: $size-x8;

  &__toggle {
    margin-bottom: $size-x4;
    cursor: pointer;
    text-align: center;
  }

  &__toggle-link {
    color: $color-neutral-30;
  }

  &__option {
    padding: $size-x3 $size-x6;
    margin-bottom: $size-x2;
    border-radius: $size-x1;
    background-color: $color-theme-10;
    cursor: pointer;
  }
}

.loader--login {
  margin-top: $size-x7;
}
