.signup-passwords {
  &__btns {
    display: flex;
    .button__button {
      width: 100%;
    }

    &-secondary {
      flex-grow: 1;
      margin-right: $size-x3;
      @extend .button--inactive;
    }

    &-primary {
      flex-grow: 1;
    }
  }
}

.signup-disclaimer {
  color: $color-neutral-30;
  font-size: $size-x3;
  text-align: center;
  margin: $size-x7 auto;

  a {
    font-size: $size-x3;
  }

  a, a:visited, a:active {
    color: $color-neutral-30;
  }

  a:hover {
    color: lighten($color-neutral-30, 10%);
  }
}

.signup-login {
  width: 100%;
  text-align: center;
  span {
    display: block;
    clear: both;
  }

  &__divider {
    color: $color-neutral-30;
    border-bottom: 1px solid $color-neutral-30;
    margin: $size-x12 0 $size-x10 0;
    position: relative;
    > span {
      position: absolute;
      height: 30px;
      width: 80px;
      line-height: 30px;
      top: -15px;
      left: 50%;
      margin-left: -40px;
      text-align: center;
      background-color: $color-theme-70;
    }
  }
}

.signup-header {
  &__username {
    color: $color-neutral-30;
    text-align: left;
    cursor: pointer;
    @extend .input__input;
  }
}
